@{
    ViewBag.Title = "添加预约信息";
    Layout = "~/Views/Shared/_Pop.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/files/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/files/css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="/files/css/dropzone.css" />
}
@section scripts
{
    <script src="/files/js/jquery.autogrow-textarea.js"></script>
    <script src="/files/js/bootstrap-timepicker.min.js"></script>
    <script src="/files/js/jquery.maskedinput.min.js"></script>
    <script src="/files/js/jquery.tagsinput.min.js"></script>
    <script src="/files/js/jquery.mousewheel.js"></script>
    <script src="/files/js/select2.min.js"></script>
    <script src="/files/js/dropzone.min.js"></script>

    <script src="/files/js/custom.js"></script>
    <script type="text/javascript">
        /**************************************/
        function initPage() {
            $().formValidator.init("form");
            $().formValidator.addValidator([
                { controlID: 'name', must: true, mustMsg: '请输入病人姓名' },
                { controlID: 'age', must: true, mustMsg: '请输入病人年龄', rule: 'num', msg: '年龄必须为整数' },
                { controlID: 'ordertime', must: true, mustMsg: '请输入预约时间' },
                { controlID: 'mediasource', must: true, mustMsg: '请选择媒体来源' },
                { controlID: 'sectionName', mustMsg: '你必须选择一个科室！', rule: 'radioboxs' },
                { controlID: 'diseaseName', mustMsg: '你必须选择一种疾病！', rule: 'radioboxs' },
                { controlID: 'areasourcetype', mustMsg: '你必须选择一个地区！', rule: 'radioboxs' },
                { controlID: 'countType', mustMsg: '你必须选择一个统计账户！', rule: 'radioboxs' }
            ]);
            $('#ordertime').datepicker({
                format: 'yyyy-MM-dd'
            });
            $('#selecthours').timepicker({ showMeridian: false });
            $("input[name='sectionName']:eq(0)").attr("checked", "checked");
            $("input[name='countType']:eq(0)").attr("checked", "checked");
            getDoctorBysectionId();
            getDiseaseBysectionId();
            mediaSourceSelect();
        }
        $().pageUtility.addEvent(initPage);
        $().formValidator.onPassCallBack = function () {
            var formValues = [
                    { id: 'name', value: $("#name").val() },
                    { id: 'sex', value: $("input[name='gender']:checked").val() },
                    { id: 'age', value: $("#age").val() },
                    { id: 'tel', value: $("#mobile").val() },
                    { id: 'qq', value: $("#qq").val() },
                    { id: 'question', value: $("#question").val() },
                    { id: 'chatcontent', value: $("#chatcontent").val() },
                    { id: 'section', value: $("input[name='sectionName']:checked").val() },
                    { id: 'doctor', value: $("input[name='doctorName']:checked").val() },
                    { id: 'disease', value: $("input[name='diseaseName']:checked").val() },
                    { id: 'mediasource', value: $("#mediasource").val() },
                    { id: 'mediasourceextend', value: $("#mediasourceextend").val() }, //具体来源
                    { id: 'keywords', value: $("#keywords").val() },
                    { id: 'hospitalwebsite', value: $("#hospitalwebsite").val() },
                    { id: 'areasourcetype', value: $("input[name='areasourcetype']:checked").val() },
                    { id: 'area', value: $("#area").val() },
                    { id: 'countnumber', value: $("input[name='countType']:checked").val() },
                    { id: 'expertidentifier', value: $("#expertidentifier").val() },
                    { id: 'ordertime', value: $("#ordertime").val() },
                    { id: 'orderhour', value: $("#selecthours").val() },
                   { id: 'remark', value: $("#remark").val() }
            ];
            $.ajax({
                dataType: "json",
                type: "POST",
                url: '/CustomerService/OrderAdd',
                data: $().pageUtility.getFormData(formValues),
                success: function (data) {
                    if (data.flag === "success") {
                        $().pageUtility.createNotify("growl-success", false, "成功提示：", "预约信息添加成功！正在跳转至列表页面..");
                        setTimeout("parent.location.reload()", 1000);
                    }
                    else if (data.flag === "error") {
                        $().pageUtility.createNotify("growl-warning", false, "错误提示：", "错误提示", "出错了，请稍后再试！");
                        $().formValidator.setSubmitButtonState(true);
                    }
                    else if (data.flag === "error2") {
                        $().pageUtility.createNotify("growl-warning", false, "错误提示：", "错误提示", "抱歉，系统检测到您当前添加的【科室】内有【电话号码】重复的客户，所以您不能录入！");
                        $().formValidator.setSubmitButtonState(true);
                    }
                }
            });
        }
        /*****************************************************************************/
        function select(obj1) {//预约时间日期
            $("#ordertime").val(obj1);
        }
        function getordertime(obj) {//预约时间小时
            $("#selecthours").val(obj);
        }
        $("#chatcontent").change(function () {//通过聊天记录取出搜索引擎的关键字
            var chat = $("#chatcontent").val();
            if (chat != null) {
                var beginIndex = chat.indexOf("[");
                var endIndex = chat.indexOf("]");
                if (beginIndex >= 0 && endIndex > 0) {
                    if (chat.indexOf("搜索引擎,搜索关键词:") > 0) {
                        var guanjianzi = chat.substring(beginIndex + 12, endIndex);
                        $("#keywords").attr("value", guanjianzi);
                    }
                    else {
                        $("#keywords").attr("value", "");
                    }
                }
            }
        });

        $("input[name=sectionName]").change(function () {//科室切换
            getDoctorBysectionId();
            getDiseaseBysectionId();
            mediaSourceSelect();
        });

        $("input[name=areasourcetype]").change(function () {//地区切换
            var areaId = $("input[name=areasourcetype]:checked").val();
            if (areaId ==="1") {
                $("#selectarea").css("display", "block");
            }
            else {
                $("#selectarea").css("display", "none");
            }
        });

        function getDoctorBysectionId() {//获取科室下面所有医生
            var sectionId = $("input[name=sectionName]:checked").val();
            $("#doctorlist").empty();
            $("#doctorlist").append("<span class=\"rdio rdioPosition\"><input name=\"doctorName\" type=\"radio\" id=\"doctorName\" checked=\"checked\" value=\"0\" /><label for=\"doctorName\">未选择</label></span>&nbsp;");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: '/customerservice/GetDoctorDataBySection?sectionStr=' + sectionId + '&r=' + Math.random(),
                success: function (data) {
                    if (data.flag === "success") {
                        $("#doctorlist").append(data.doctorData);
                        $("input[name='doctorName']:eq(0)").attr("checked", "checked");
                    }
                    if (data.flag === "error") {
                        alert("提示", "出错了，请稍后再试！");
                    }
                }
            });
        }

        function getDiseaseBysectionId() {//获取科室下面所有疾病
            var sectionId = $("input[name=sectionName]:checked").val();
            $.ajax({
                dataType: "json",
                type: "POST",
                url: '/CustomerService/GetDiseaseDataBySection?sectionStr=' + sectionId + '&r=' + Math.random(),
                success: function (data) {
                    if (data.flag === "success") {
                        $("#diseaselist").empty();
                        $("#diseaselist").append(data.diseaseData);
                        $("input[name='diseaseName']:eq(0)").attr("checked", "checked");
                    }
                    if (data.flag === "error") {
                        $().pageUtility.alert("出错了，请稍后再试！");
                    }
                }
            });
        }
        $("#mediasource").change(function () {//媒体来源
            mediaSourceSelect();
        });
        function mediaSourceSelect() {
            var sectionId = $("input[name=sectionName]:checked").val();
            var text = $("#mediasource").find("option:selected").text();
            var id = $("#mediasource").val();
            $("#jutiID").css('display', 'none');
            $("#mediasourceextend").empty();
            $("#websiteID").css('display', 'none');
            $("#selectkeys").css('display', 'none');
            text = $.trim(text.toString())
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/settings/GetAllMediaSourceDataByParentid?id=" + id + "&r=" + Math.random(),
                success: function (msg) {
                    if (msg.length > 0) {
                        var select = document.getElementById("mediasourceextend");
                        if (select != null) {
                            $("#jutiID").css('display', 'block');
                            $("#mediasourceextend").empty();
                            for (var i = 0; i <= msg.length - 1; i++) {
                                select.options[i] = new Option(msg[i].Name, msg[i].ID);
                            }
                            return 1;
                        }
                    }
                    return 1;
                }
            });
            if (text === "网络") {
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/settings/GetAllHospitalWebsiteData?sectionId=" + sectionId + "&n=" + Math.random(),
                    success: function (msg) {
                        if (msg.length > 0) {
                            var select = document.getElementById("hospitalwebsite");
                            if (select != null) {
                                $("#websiteID").css('display', 'block');
                                $("#hospitalwebsite").empty();
                                select.options[0] = new Option("没有来源网站", -1);
                                for (var i = 0; i <= msg.length - 1; i++) {
                                    select.options[i + 1] = new Option(msg[i].Title, msg[i].ID);
                                }
                                return 1;
                            }
                        }
                        return 1;
                    }
                });
                $("#selectkeys").css('display', 'block');
            }
        }

        $(function() { //查询6个月我所拥有的科室的重复病人
            $("#name").blur(function() {
                var n = $("#name").attr("value");
                var s = $("input[name='sectionName']:checked").val();
                if (n) {
                    n = encodeURI(n);
                    $.ajax({
                        dataType: "json",
                        type: "GET",
                        url: "/customerservice/GetCountByExistsName?sectionId=" + s + "&name=" + n + "&r=" + Math.random(),
                        success: function(data) {
                            if (data.flag === "success") {
                                $().pageUtility.alert("系统提示", "发现<span style=\"color:red\">姓名|电话</span>重复：<span style=\"color:red\">" + data.patientName + "|" + data.tel + "</span>，该信息由" + data.createUserName + "在" + data.addTime + "添加至【" + data.sectionName + "】。<span style=\"font-weight:bold\"><a target=blank  href='/customerservice/orderindex?globalKeyword=" + n + "&Telephone=" + n + "&timekinds=0&starttime=" + encodeURI('@DateTime.Now.AddMonths(-6).ToString("yyyy-MM-dd 00:00:00.000")') + "&endtime=" + encodeURI('@DateTime.Now.ToString("yyyy-MM-dd 23:59:56")') + "'>点此查看</a>详细信息，点击关闭按钮，继续添加</span>");
                            }
                        }
                    });
                }
            });
        });
        $(function () { //查询6个月我所拥有的科室的重复病人
            $("#mobile").blur(function () {
                var n = $("#mobile").attr("value");
                var s = $("input[name='sectionName']:checked").val();
                if (n) {
                    n = encodeURI(n);
                    $.ajax({
                        dataType: "json",
                        type: "GET",
                        url: "/customerservice/GetCountByExistsTel?sectionId=" + s + "&telephone=" + n + "&r=" + Math.random(),
                        success: function (data) {
                            if (data.flag === "success") {
                                $().pageUtility.alert("系统提示", "发现<span style=\"color:red\">姓名|电话</span>重复：<span style=\"color:red\">" + data.patientName + "|" + data.tel + "</span>，该信息由" + data.createUserName + "在" + data.addTime + "添加至【" + data.sectionName + "】。<span style=\"font-weight:bold\"><a target=blank  href='/customerservice/orderindex?globalKeyword=" + n + "&Telephone=" + n + "&timekinds=0&starttime=" + encodeURI('@DateTime.Now.AddMonths(-6).ToString("yyyy-MM-dd 00:00:00.000")') + "&endtime=" + encodeURI('@DateTime.Now.ToString("yyyy-MM-dd 23:59:56")') + "'>点此查看</a>详细信息，点击关闭按钮，继续添加</span>");
                            }
                        }
                    });
                }
            });
        });
    </script>
}
<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" name="form1" id="form1" class="form-horizontal form-bordered">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>提示：</strong>加“<span class="asterisk">*</span>”号的是必填项<br />
                <strong>请注意：</strong>【咨询内容栏】填写咨询内容摘要，不要粘贴【聊天记录】。聊天记录请复制到下面“聊天记录”一栏中。
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>科室名称<span class="asterisk">*</span></legend>
                            @if (ViewData["sectionList"] != null)
                            {
                                foreach (var item in ViewData["sectionList"] as IEnumerable<Section>)
                                {
                            <span class="rdio rdioPosition">
                                <input type="radio" name="sectionName" value="@item.ID" id="radiosection_@item.ID">
                                <label for="radiosection_@item.ID">@item.Name</label>
                            </span>
                                }
                            }
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>医生姓名<span class="asterisk">*</span></legend>
                            <div id="doctorlist">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>
                                疾病类型<span class="asterisk">*</span>
                            </legend>
                            <div id="diseaselist">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">
                            预约日期<span class="asterisk">*</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" class="form-control" placeholder="请输入年月日 如：2015-05-31" id="ordertime" value="@DateTime.Now.ToString("yyyy/MM/dd")">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">
                            时间<span class="asterisk">*</span>
                        </label>
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <div class="bootstrap-timepicker">
                                <input id="selecthours" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">
                            专家号
                        </label>
                        <input type="text" id="expertidentifier" placeholder="请输入专家号" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">
                            日期：
                        </label>
                        <a href='javascript:select("@System.DateTime.Now.ToString("yyy-MM-dd")")'>[今]</a>&nbsp;<a href='javascript:select("@System.DateTime.Now.AddDays(1).ToString("yyy-MM-dd")")'>[明]</a>&nbsp;<a href='javascript:select("@System.DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")")'>[大后天]</a>&nbsp;<a href='javascript:select("@Easom.Core.Orders.GetDateTime(6)")'>[周六]</a><a href='javascript:select("@Easom.Core.Orders.GetDateTime(7)")'>[周日]</a>&nbsp;<a href='javascript:select("@Easom.Core.Orders.GetDateTime(1)")'>[周一]</a>&nbsp;<a href='javascript:select("@System.DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")")'>[一周后]</a>&nbsp;<a href='javascript:select("@System.DateTime.Now.AddDays(15).ToString("yyyy-MM-dd")")'>[半月后]</a>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">
                            时间：
                        </label>
                        <a href='javascript:getordertime("00:00")'>[时间不限]</a>&nbsp;<a href='javascript:getordertime("09:00")'>[上午九点]</a>&nbsp;<a href='javascript:getordertime("14:00")'>[下午两点]</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">
                            姓名<span class="asterisk">*</span>
                        </label>
                        <input tabindex="4" id="name" name="name" class="form-control" placeholder="请输入姓名" type="text" maxlength="10" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">
                            年龄<span class="asterisk">*</span>
                        </label>
                        <input tabindex="5" id="age" name="age" class="form-control" placeholder="请输入年龄" type="text" maxlength="10" />
                    </div>
                    <div class="col-sm-4">
                        <fieldset style="margin-top: 8px;">
                            <legend>性别<span class="asterisk">*</span></legend>
                            <span class="rdio">
                                <input type="radio" name="gender" value="0" id="radioman" checked>
                                <label for="radioman">男</label>
                            </span>
                            <span class="rdio">
                                <input type="radio" name="gender" value="1" id="radiowuman">
                                <label for="radiowuman">女</label>
                            </span>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">
                            电话
                        </label>
                        <input id="mobile" tabindex="6" name="mobile" class="form-control" placeholder="请输入电话号码" type="text"
                               maxlength="15" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">
                            QQ
                        </label>
                        <input id="qq" tabindex="7" name="qq" class="form-control" placeholder="请输入QQ" type="text" maxlength="30" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="fldTitle">
                            咨询内容&nbsp;<span class="asterisk">请注意：此栏填写咨询内容摘要，不要粘贴聊天记录。聊天记录请复制到下面“聊天记录”一栏中。</span>&nbsp;&nbsp;
                        </label>
                        <textarea id="question" tabindex="8" placeholder="请输入患者咨询的内容，请勿粘贴聊天记录" name="question" class="form-control" rows="5" cols="50"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-sm-12">
                        <label class="fldTitle">
                            聊天记录
                        </label>
                        <div class="fieldwrap">
                            <textarea id="chatcontent" placeholder="请输入聊天记录，直接从聊天工具复制粘贴即可" tabindex="9" name="chatcontent" class="form-control" rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="fieldwrap" id="selectmedia">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="fldTitle">
                                媒体来源<span class="asterisk">*</span>
                            </label>
                            <select id="mediasource" class="form-control mb15">
                                @if (ViewData["mediaList"] != null)
                                {
                                    foreach (var item in ViewData["mediaList"] as IEnumerable<Easom.Core.MediaSource>)
                                    {
                                        <option value="@item.ID">@item.Name </option>
                                    }
                                }
                            </select>
                        </div>
                        <div id="jutiID" style="display: none;" class="col-sm-3">
                            <label id="jutiLaiyuan" class="fldTitle">
                                具体来源
                            </label>
                            <select id="mediasourceextend" class="form-control"></select>
                        </div>
                        <div id="websiteID" style="display: none;" class="col-sm-3">
                            <label class="fldTitle">
                                医院网站
                            </label>
                            <select id="hospitalwebsite" class="form-control"></select>
                        </div>
                        <div id="selectkeys" style="display: none;" class="col-sm-3">
                            <label class="fldTitle">
                                关键字：
                            </label>
                            <input id="keywords" name="keywords" class="form-control" type="text" placeholder="请输入关键字"
                                   style="float: right" />
                        </div>
                        <input id="areasouceid" name="areasouceid" type="hidden" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <fieldset>
                            <legend>地区来源<span class="asterisk">*</span></legend>
                            <span class="rdio">
                                <input type="radio" id="areaBen" name="areasourcetype" value="0" checked>
                                <label for="areaBen">
                                    本地
                                </label>
                            </span><span class="rdio">
                                <input type="radio" id="areaWai" name="areasourcetype" value="1" />
                                <label for="areaWai">
                                    外地
                                </label>
                            </span>
                        </fieldset>
                    </div>
                    <div id="selectarea" style="display: none;" class="col-sm-3">
                        <label class="fldTitle">
                            地区名称:
                        </label>
                        <input id="area" class="form-control" type="text" placeholder="请输入地区名称" />
                        <input id="areatype" name="areatype" type="hidden" />
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <fieldset>
                            <legend>所属统计帐户<span class="asterisk">*</span></legend>
                                @if (LoginManager.HasAutority(AuthorityConst.KEY_TONGJI))
                                {
                                    if (LoginManager.HasAutority(AuthorityConst.KEY_TONGJI_WEB))
                                    {
                                        <span class="rdio rdioPosition">
                                            <input name="countType" type="radio" value="0" id="countTypeNet" />
                                            <label for="countTypeNet">
                                                网络
                                            </label>
                                        </span>
                                    }
                                    if (LoginManager.HasAutority(AuthorityConst.KEY_TONGJI_TEL))
                                    {
                                        <span class="rdio rdioPosition">
                                            <input name="countType" type="radio" value="1" id="countTypeTel" />
                                            <label for="countTypeTel">
                                                电话
                                            </label>
                                        </span>
                                    }
                                    if (LoginManager.HasAutority(AuthorityConst.KEY_TONGJI_OTHER))
                                    {
                                        <span class="rdio rdioPosition">
                                            <input name="countType" type="radio" value="2" id="countTypeOth" />
                                            <label for="countTypeOth">
                                                其他
                                            </label>
                                        </span>
                                    }
                                }
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="fldTitle" style="margin-top: 8px;">
                            备注
                        </label>
                        <textarea tabindex="10" id="remark" name="description" class="form-control mb15" rows="10" cols="50"></textarea>
                        <div class="buttons bottom-round noboder">
                            <div class="panel-footer">
                                <button class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
