@model Easom.Core.UserInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "个人资料";
}
@section styles
{
    <link rel="stylesheet" href="/files/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/files/css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="/files/css/dropzone.css" />
}
@section scripts
{
    <script src="/files/js/jquery.autogrow-textarea.js"></script>
    <script src="/files/js/bootstrap-timepicker.min.js"></script>
    <script src="/files/js/jquery.maskedinput.min.js"></script>
    <script src="/files/js/jquery.tagsinput.min.js"></script>
    <script src="/files/js/jquery.mousewheel.js"></script>
    <script src="/files/js/select2.min.js"></script>
    <script src="/files/js/dropzone.min.js"></script>

    <script src="/files/js/custom.js"></script>
    <script type="text/javascript">

        function initPage() {
            $().formValidator.init("form");
            $().formValidator.addValidator([
                   { controlID: 'name', must: true, mustMsg: '用户名不能为空', rule: 'userName', msg: '用户名必须字母开头，由数字和字母组成，4-20位' },
                   //{ controlID: 'pwd', must: true, mustMsg: '请输入密码' },
                   //{ controlID: 'newpwd', must: true, rule: 'compare', mustMsg: '请再次输入密码', compareID: 'pwd', msg: '两次输入密码不一致，请重新输入' },
                   { controlID: 'email', must: true, mustMsg: 'Email不能为空', rule: 'email', msg: '你输入的邮箱格式有误', mutiCheck: "change" },
                  { controlID: 'truename', must: true, mustMsg: '请输入真实姓名' }
            ]);
        }

        $().pageUtility.addEvent(initPage);

        $().formValidator.onPassCallBack = function () {
            var loadingTip = $().pageUtility.loading("您请稍等...");
            var formValues = [
                    { id: 'username', value: $("#name").val() },
                   { id: 'Password', value: $("#pwd").val() },
                     { id: 'usertruename', value: $("#truename").val() },
                     { id: 'mobile', value: $("#mobile").val() },
                    { id: 'email', value: $("#email").val() }
            ];
            $.ajax({
                dataType: "json",
                type: "POST",
                url: '/tool/MyInformation/@Model.ID',
                data: $().pageUtility.getFormData(formValues),
                success: function (data) {
                    if (data.flag == "success") {
                        $().pageUtility.closeLoading();
                        alert("用户信息修改成功!");
                        $().formValidator.setSubmitButtonState(true);
                    }
                    else {
                        $().pageUtility.closeLoading();
                        $().formValidator.setSubmitButtonState(true);
                    }
                    if (data.flag == "error") {
                        $().pageUtility.alert("出错了，请稍后再试！");
                    }

                    if (data.flag == "HaveEmile") {
                        alert("邮箱地址重复！");
                    }

                    if (data.flag == "HaveName") {
                        alert("用户名称重复！");
                    }

                    if (data.flag == "HaveMobile") {
                        alert("电话号码重复！");
                    }
                }
            });
        }
    </script>
}
<div class="pageheader">
    <h2><i class="fa fa-user"></i>我的资料<span>您可以在这里管理您的账户信息..</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">当前位置:</span>
        <ol class="breadcrumb">
        </ol>
    </div>
</div>
<div class="contentpanel">
    <div class="panel panel-default panel-min-hieght">
        <div class="panel-body">
            <form method="post" name="form1" id="form1" class="form-horizontal form-bordered">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>提示:</strong>加“*”号的是必填项,如果需要修改密码，点击这里<a href="javascript:changPwd()">修改密码</a>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="media">
                            <div class="col-sm-4">
                                <a class="pull-left" href="/tool/uploadphoto">
                                    <img class="media-object thumbnail" src="@Easom.Core.Support.WebSitePath.GetURL(Easom.Core.Support.WebSitePathConstant.UPLOAD_PHOTO)@LoginManager.GetUser().PictureURL.ToString()" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label id="title1" class="fldTitle">
                                用户名称<span class="asterisk">*</span>
                            </label>
                            <div class="fieldwrap">
                                <input id="name" name="name" class="form-control" readonly="readonly" disabled="disabled" placeholder="请输入用户名称" type="text" value="@Model.Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label id="title4" class="fldTitle">
                                E-mail<span class="asterisk">*</span>
                            </label>
                            <div class="fieldwrap">
                                <input id="email" name="email" class="form-control" placeholder="请输入邮箱地址" type="text"
                                       value="@Model.Email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label id="title5" class="fldTitle">
                                电话<span class="asterisk">*</span>
                            </label>
                            <div class="fieldwrap">
                                <input id="mobile" name="mobile" class="form-control" placeholder="请输入电话号码" type="text"
                                       value="@Model.Telephone" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label id="title6" class="fldTitle">
                                真实姓名<span class="asterisk">*</span>
                            </label>
                            <div class="fieldwrap">
                                <input id="truename" name="truename" class="form-control" placeholder="请输入真实姓名" type="text"
                                       value="@Model.TrueName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fieldwrap">
                                <button class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>